<style.css> inpunt
body {background-color: #58B8EE;}
body {text-align:center;}

#contenedor {width: fit-content height 600px;  background-color: white margin: auto;
	#miss {background-color rgb(247,  245,  246); border: rgb (247,  245,  246); width: 500px;


	input {height: 50px;}
	input {width: 300px;}
	input {background-color: rgb(247,  245,  246); border:rgb(247,  245,  246);}
	input {text-align: center;}


	button {background-color: rgb(85, 186, 236);border: rgb(85, 186, 236);}
	button {height: 50px;}
	